<form action="/create" method="POST">
  <h1>Create task</h1>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" placeholder="Enter task">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>